@using StackExchange.Profiling
@model List<BarryCES.Models.MenuDto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Dscoop 后台管理</title>

    <meta name="keywords" content="Dscoop 后台管理">
    <meta name="description" content="Dscoop 后台管理">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    @Styles.Render("~/Content/css/main", "~/content/css/plugins/layer")
    @Html.Partial("BaiduTongji")
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        @Html.Partial("Menu")
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        @RenderBody()
        @MiniProfiler.RenderIncludes()
        <!--右侧部分结束-->
    </div>
    @Scripts.Render("~/content/js/main", "~/content/js/plugins/layer/layermin")
</body>
</html>
